::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html, body {
    height: 100%;
}

body, .control-pane, .map-pane {
    min-width: 320px;
}

body {
    overflow-x: hidden;
}

.container-fluid, .control-pane, .map-pane {
    height: calc(100% - 100px);
}

.main, .map-container, #map {
    height: 100%;
}

ul {
    list-style: none;
    margin-top: 1rem;
}

li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.trash {
    vertical-align: sub;
}

.location-name {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.traffic-buttons {
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 50px;
}

.hide-overflow {
    overflow-x: hidden;
}

.transport-text {
    padding: 0;
}

@media (min-width: 768px) {
    .map-pane {
        left: 41.667%;
    }
    
    .places, .transports, .map-pane {
        padding: 0;
    }
    
    .map-button {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .map-pane {
        left: 33.333%;
    }
}

@media (min-width: 1200px) {
    .map-pane {
        left: 25%;
    }
}

.control-pane {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    
}

.detail-pane {
    width: 100%;
    height: 100%;
    z-index: 10;
    left: -100%;    
}

.detail-left {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.map-pane {
    position: absolute;
    z-index: 0;
}

.underlying-gone {
    display: none;
}

.toggle-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
    
.time-picker {
    padding: 0;
}

.footer-pa {
    text-align: center;
}

.footer-nav {
    display: inline-block;
    float: none;
}